@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Lato:wght@100&display=swap');
* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 90vh;
    font-size: 20px;
}
  
.main {
    height: 400px;
    width: 250px;
    color:black;
    display: grid;
    place-items: center;
    font-family: Lato;
    font-weight: bold;
}

#selected_color {
    background-color: none;
    outline: none;
    border: none;
    height: 40px;
    width: 70px;
    cursor: pointer;
}

#hexCode {
    outline: none;
    border: none;
    height: 30px;
    width: 120px;
    padding: 0 10px;
}