@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Lato:wght@100&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 90vh;
    font-size: 20px;
}
  
.main {
    height: 400px;
    color:black;
    display: grid;
    place-items: center;
    font-family: Lato;
    font-weight: bold;
}

/* the color box */
#selected_color {
    background-color: none;
    outline: none;
    border: none;
    height: 100px;
    width: 140px;
    cursor: pointer;
}